<!DOCTYPE html>

<html>

<head>
  <title>URL Shortener Microservice</title>
  <!-- MAKE SURE YOU VISITED https://www.imgbb.com/ and https://www.flaticon.com/ -->
  <link rel="setting icon" href="https://i.ibb.co/G2S6ghb/setting-icon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="/public/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>URL Shortener Microservice</h1>
  <hr />
  <main>
    <section>
      <form action="api/shorturl" method="POST">
        <fieldset>
          <legend>URL Shortener</legend>
          <label for="url_input">URL:</label>
          <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
          <input type="submit" value="POST URL" />
        </fieldset>
      </form>
    </section>
  </main>

  <div class="container">
    <h3>Example Output:</h3>
    <p>
      <code>{ original_url : 'https://freeCodeCamp.org', short_url : 1}</code>
    </p>
    <h3>Example Usage:</h3>
    <ul>
      <li><a href="/api/shorturl/0">[project url]/api/shorturl/1</a></li>
    </ul>

  </div>
  <div class="footer">
    <p>
      by <a href="https://github.com/will-s-205/fcc-boilerplate-project-urlshortener" target="_blank">William Step</a>
    </p>
  </div>

</body>

</html>